div(id = "BasicInfoDiv")
	div(class = "input-group" id = "NameInput")
		span(class = "input-group-addon")
			|Name 
		input(type = "text", class = "form-control" placeholder = "Insert Name Here")

	div(class = "input-group" id = "LevelInput")
		span(class = "input-group-addon")
			|Level 
		input(type = "text", class = "form-control" placeholder = "Whole numbers from 1-20 please")

	div(class = "row")
		div(class = "col-lg-6")
			div(class = "input-group")
				div(class = "input-group-btn")
					button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
						|Class 
						span(class = "caret")
					ul(class = "dropdown-menu")
						ul: a(class = "lists") Barbarian
						ul: a(class = "lists") Bard
						ul: a(class = "lists") Druid
						ul: a(class = "lists") Fighter
						ul: a(class = "lists") Monk
						ul: a(class = "lists") Paladin
						ul: a(class = "lists") Ranger
						ul: a(class = "lists") Rogue
						ul: a(class = "lists") Sorcerer
						ul: a(class = "lists") Wizard
				input(type = "text", class = "form-control", id = "ClassInput", placeholder = "Insert Class Here")


		div(class = "col-lg-6")
			div(class = "input-group")
				div(class = "input-group-btn")
					button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
						|Race 
						span(class = "caret")
					ul(class = "dropdown-menu")
						ul: a(class = "lists") Dwarf
						ul: a(class = "lists") Elf
						ul: a(class = "lists") Gnome
						ul: a(class = "lists") Half-Elf
						ul: a(class = "lists") Halfling
						ul: a(class = "lists") Half-Orc
						ul: a(class = "lists") Human
				input(type = "text", class = "form-control", id = "RaceInput", placeholder = "Insert Race Here")

		div(class = "col-lg-6")
			div(class = "input-group")
				div(class = "input-group-btn")
					button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
						|Gender 
						span(class = "caret")
					ul(class = "dropdown-menu")
						ul: a(class = "lists") Male
						ul: a(class = "lists") Female
						ul: a(class = "lists") Neither
						ul: a(class = "lists") Other
				input(type = "text", class = "form-control", id = "GenderInput", placeholder = "Insert Gender Here")
						
		div(class = "col-lg-6")
			div(class = "input-group")
				div(class = "input-group-btn")
					button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
						|Alignment 
						span(class = "caret")
					ul(class = "dropdown-menu")
						ul: a(class = "lists") Lawful / Good
						ul: a(class = "lists") Lawful / Nuetral
						ul: a(class = "lists") Lawful / Evil
						ul: a(class = "lists") Nuetral / Good
						ul: a(class = "lists") Nuetral / Nuetral
						ul: a(class = "lists") Nuetral / Evil
						ul: a(class = "lists") Chaotic / Good
						ul: a(class = "lists") Chaotic / Nuetral
						ul: a(class = "lists") Chaotic / Evil
				input(type = "text", class = "form-control", id = "AlignmentInput", placeholder = "Insert Alignment Here")