doctype html
html
	head
		script(src="js/Jquery.min.js")
		script(src="http://code.angularjs.org/1.2.12/angular.min.js")
		script(src="http://code.angularjs.org/1.2.12/angular-sanitize.min.js")
		script(src="js/bootstrap.min.js")
		link(rel = "stylesheet", type = "text/css", href = "css/CreateCharacter.css")
		link(rel = "stylesheet", type = "text/css", href = "css/bootstrap.min.css")
		script(src="CreateCharacter.js")
	body(ng-app="ngBindHtml")
		div(ng-controller = "myCtrl")
			div(ng-bind-html = "explicitlyTrustedHtml", id = "explicitlyTrustedHtml")