doctype html
html
	head
		script(src="lib/Jquery.min.js")
		script(src="lib/bootstrap.min.js")
		link(rel = "stylesheet", type = "text/css", href = "css/CreateCharacter.css")
		link(rel = "stylesheet", type = "text/css", href = "css/bootstrap.min.css")
		script(src="js/CreateCharacter.js")
		script(src="js/BasicInfoPage.js")
		script(src="js/FeatsPage.js")
		script(src="js/StatPage.js")
		script(src="js/SkillsPage.js")
		script(src="js/SpellsPage.js")
		script(src="js/ReviewPage.js")
	body(id = "body")
		div#header
			h3 D&D Character Creator -- Basic Info
		div(id = "container")
			div(id = "explicitlyTrustedHtml")
			div#backForwardButtons
				button(type = "button", id = "backButton", class = "btn") Back
				button(type = "button", id = "forwardButton", class = "btn") Next