div#basicInfo
	label Basic Info
	p#name
	p#level
	p#class
	p#race
	p#gender
	p#alignment
div#stats
	label Stats
	p#str
	p#dex
	p#con
	p#int
	p#wis
	p#cha
div#skills
	label Skills
div#feats
	label Feats
div#spells
	label Spells
p#backstory
	label Backstory