link(id = "spellsCSS" rel = "stylesheet", type = "text/css", href = "css/spells.css")

h1(id = "title") Enter Spell Selections Below
div(id = "spellsInputsContainerContainer")
	div(id = "spellsInputsContainer")
