button(type = "button", class = "btn btn-default btn-lg")
	|Roll Stats!
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 
div(class = "row")
	div(class = "col-sm-1")
		div(class = "stats")
			span(class="input-group-addon")
				|0
			div(class = "input-group-btn")
				button(type="button", class = "btn btn-default dropdown-toggle", data-toggle = "dropdown")
					|Unassigned 
					span(class = "caret")
				ul(class = "dropdown-menu")
					ul: a(class = "statList") Strength 
					ul: a(class = "statList") Dexterity 
					ul: a(class = "statList") Constitution 
					ul: a(class = "statList") Intelligence 
					ul: a(class = "statList") Wisdom 
					ul: a(class = "statList") Charisma 
					ul: a(class = "statList") Dropped 