#featInputsContainer{
    width:200px;  
}

#fighterFeatsContainer{
    position:relative;
    width:200px;
    margin-left:200px;
    margin-top:-248px;
}

#title{
    text-align:center;
    margin-top:-10px;
    font-size:150%
}

#featInputsContainerContainer{
    background-color:black;
    width:200px;
    height:250px;
    margin-left:-20px;
    overflow:auto;
    
}

#fighterFeatsContainer{
    background-color:black;
    overflow:auto;
    
}

.featInputsGroup{
	padding:1px;
}