#featInputsContainer{
    width:200px;  
}

#fighterFeatsContainer{
    position:relative;
    width:200px;
    margin-left:200px;
    margin-top:-248px;
}

#title{
    text-align:center;
    padding:3px;
	margin-top:0px;
    font-size:150%
}

#featInputsContainerContainer{
    width:215px;
    height:250px;
    margin-left:-30px;
    overflow:auto;
    
}

#fighterFeatsContainer{
    overflow:auto;
    height:250px;
	width:215px;
}

.featInputsGroup{
	padding:1px;
}

.fighterFeatInputsGroup{
	padding:1px;
}